@model Lab1_Mvc_AQUINO.Models.ClsEstudiante
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <b> Nombre</b> @Model.nombre<br />
        <b> Apellido</b> @Model.apellido<br />
        <b> Talla</b> @Model.talla<br />
        <b> Sexo</b> @Model.sexo<br />
        <b> Edad</b> @Model.edad<br />


    </div>
</body>
</html>
